body
{
    background-color: aquamarine;
}
.container
{
    width: 100%;
    height: auto;
    border: solid 1px black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content
{
    border: solid 1px red;
}