<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">      
    <title>Repo Visualizer</title>
</head>
<body>
    {% if account_name %}
        <h1>Welcome, {{account_name}}</h1>
    {% endif %}
    <div id="container">
        <div id="content" style="margin-top:3em">{% block content %}{% endblock %}</div>
    </div>
</body>
</html>