{% extends "base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/main.css"> 
<body>
    {% if repo_data %}
        <p>{{ repo_data }}</p>
    {% endif %}
    {% if not branch_data %}
    <form action="/select-branch" method="POST">
        <!-- <label for="ownername">Enter Repository Owner's name: </label>
        <input type="text" id="ownername" name="ownername">
        <br> -->
        <label for="reponame">Enter Repository Name: </label>
        <input type="text" id="reponame" name="reponame">
        <br>
        <p>Note: We can only access private repositories if you Oauth'ed with the same account!</p>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    {% if branch_data %}
        <form action="/result" method="POST">
            <label for="branch-dropdown">Select branch: </label>
            <select name="branch-dropdown" id="branch-dropdown">
                {% for branch in branch_data %}
                <option value="{{branch}}">{{branch}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Visualize!">
        </form>
    {% endif %}
</body>
{% endblock %}