{% extends "base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="main.css"> 
<body>
    <form method="GET">
        <label for="ownername">Enter Repository Owner's name: </label>
        <input type="text" id="ownername" name="ownername">
        <br>
        <label for="reponame">Enter Repository Name: </label>
        <input type="text" id="reponame" name="reponame">
        <br>
        <label for="is_private">The repository is private: </label>
        <input type="checkbox" name="is_private" id="is_private">
        <br>
        <p>Note: We can only access private repositories if you Oauth'ed with the same account!</p>
        <input type="submit" value="Submit">
    </form>
</body>
{% endblock %}